@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&family=Open+Sans+Condensed:wght@300&family=Roboto:wght@100&display=swap');



.about-us {
    display:none;
}
.banner-image {
    width:100%;        
}
.banner-image img {
    width:100%;
    object-fit: cover;
    height:200px;
}
.gallery-image img {
    border-radius: 50%;
    width: 100%;
}
.gallery-links {
    display: flex;
    flex-flow: row wrap;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -moz-flex;
    -moz-flex-flow: row wrap;
    justify-content: center;
    -o-flex-flow: row wrap;
    justify-content: center;
}
.gallery-image {
    margin: 10px;
    width:50%;
    text-align:center;
    -webkit-flex-basis: 50vw;
    -moz-flex-basis: 50vw;
    flex-basis: 50vw;
        
}
.container {
    position: relative;
}
.post-header {
    font-family: Open Sans Condensed, sans-serif;
    font-size: 20px;
    font-weight: 1000;
    letter-spacing: 3px;
    line-height: 24px;
    color: white;
    text-shadow: 3px 3px 9px #000000;
    width:max-content;

    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

body {
    background-color:rgb(238, 218, 204);
}
header .header-banner {
    width:100%;
    height: calc(100vh-500px);
    display: table;
    
}
header h1 {
    font-family: Gentium Basic, serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1px;
}
header h2 {
    font-family: Open Sans Condensed, sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 5px;
}
header .logo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0 20px 0;
}
header nav ul {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: fit-content;
}
header nav ul li {
    display: inline-block;
    padding: 8px 8px;
}
header nav ul li a {
    font-family: Open Sans Condensed, sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 3px;
    color: #172029;
    text-decoration:none;
}
footer {
    width: calc(100%-80px);
    padding: 30px 15px 15px 15px;
    background-color: chocolate;
    margin-top: 20px;
    overflow: hidden;
}
footer ul {
    width: fit-content;
    float:left;
    padding-left: 0;
    list-style: none;
}
footer ul li {
    display: block;
    padding: 0 0 10px 0;
}
footer ul li p {
    font-family: Open Sans Condensed, sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration:none;
}
.footer-sm {
    width: 36px;
    float:right;
}
.footer-sm img {
    width: 100%;
    margin-bottom: 10px;

}
hr {
    border-color: #201c0f;
    border-width: 2px;
    width:190px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.gallery-header {
    font-family: Gentium Basic, serif;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 3px;
    padding: 10px;
    margin-left: 10px;
    color: #3a383d;
    text-align: left;
}
.description h2 {
    font-family: Gentium Basic, serif;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 2px;
    padding: 10px;
    margin-left: 10px;
    color: #3a383d;
    text-align: left;
}
.description p {
    font-family: Open Sans Condensed, sans-serif;
    font-size: 22px;
    font-weight: 300;
    padding: 0 20px 10px 20px;
    line-height: 30px;
}

@media only screen and (min-width: 950px) {
    .post-header {
        opacity: 0;
        transition: opacity 500ms linear;
    }
    .container:hover .post-header {
        transition: opacity 500ms linear;
        opacity: 1;
    }
    hr {
        display: none
    }
    header nav ul li {
        margin-left:75px;
        margin-right: 75px;
    }
    .header-banner h1 {
        letter-spacing: 5px;
        font-size: 50px;
    }
    .header-banner h2 {
        font-size: 25px;
        letter-spacing: 5px;
    }
    main {
        padding: 0 40px 0 40px;
    }
    .left {
        float:left;
        width:50%;
        overflow: hidden;
    }
    .left h2 {
        font-size: 30px;
    }
    .description {
        margin-top: 10px;
        margin-bottom: 50px;
    }
    
    .about-us {
        display: block;
        float:right;
        width: 45%;
        margin-top: 50px;
        margin-right: 20px;
        height:200px;
    }
    .about-us img {
        width:100%;
        object-fit: cover;
        height: 175px;
    }
    main .gallery-header h2{
        opacity: 0;
    }
    .gallery-image {
        flex-basis: 270px;
        -webkit-flex-basis: 270px;
        -moz-flex-basis: 270px;
    }
    .gallery-links {
        flex-wrap:nowrap;
        margin-top: 30px;
        justify-content: space-between;
    }
    footer {
        padding: 30px 40px 15px 40px;
    }
}